.Rhistory
.Rproj.user
scripts/car_clubs_and_parking_surplus.R
scripts/car_clubs_and_tourism.R
scripts/data_wrangle/wrangle_tourism_data.R
scripts/data_wrangle/wrangle_parking_surplus_data.R
data/raw/contextual_open_data/tourism.xlsx
data/raw/contextual_open_data/Local_Authority_Parking_Operations_Revenue_Outturn_for_England_2015_16.xlsx
data/raw/contextual_open_data/Local_Authority_Parking_Operations_Revenue_Outturn_for_England_2015_16.pdf
data/wrangled/parking_revenue_metadata.txt
data/wrangled/parking_revenue_wrangled.csv
data/wrangled/tourism_wrangled.csv
data/wrangled/open_transport_data.csv